/*datagrid-wrap*/
.datagrid-wrap{
  display: block;
  min-width: 600px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.datagrid-wrap.inline-view{
  flex-wrap: nowrap;
}

  .datagrid-wrap .pagination-wrap{
    order: 1;
    flex: 0 100%;
    display: flex;
    justify-content: flex-end;
  }
  .datagrid-wrap .pagination-wrap.bottom{
    order: 3;
    flex: 0 100%;
  }
  .datagrid-wrap .pagination-wrap.left{
    order: 1;
    flex: 0 60px;
  }
  .datagrid-wrap .pagination-wrap.right{
    order: 3;
    flex: 0 60px;
  }

  .datagrid-wrap .pagination-wrap.left .pagination,
  .datagrid-wrap .pagination-wrap.right .pagination {
    padding: 0 10px;
    margin-top: 0;
  }
  .datagrid-wrap .pagination-wrap.left .pagination li,
  .datagrid-wrap .pagination-wrap.right .pagination li {
    display: block;
  }
    .datagrid-wrap .pagination-wrap.left .pagination li a,
    .datagrid-wrap .pagination-wrap.right .pagination li a{
      display: block;
      margin: 0;
      min-width: 55px;
    }
  .datagrid-wrap .react-grid-Container{
    min-width: 600px;
    order: 2;
    flex: 1;
  }
/*fixed footer*/
.grid-footer{
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  z-index: 99;
}
  .grid-footer .react-grid-Cell{
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
  }


